<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<title>Locomotive Statistics Manager</title>

<!-- Bootstrap core CSS -->
<link href="../../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

<!-- Add custom CSS here -->
<link href="../../css/sb-admin.css" rel="stylesheet"/>
<link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"
      th:href="@{/font-awesome/css/font-awesome.min.css}"/>
<!--Calendar-->
<link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}"/>

<!-- JavaScript -->
<!--<script type="text/javascript" src="../../js/jquery/1.8.2/jquery.min.js"></script>-->
<script src="../../js/jquery/1.10.2/jquery-1.10.2.js" th:src="@{/js/jquery/1.10.2/jquery-1.10.2.js}"></script>
<script src="../../js/jqueryui/1.10.0/jquery-ui.min.js" th:src="@{/js/jqueryui/1.10.0/jquery-ui.min.js}"></script>
<script src="../../js/simpledateformat.js" th:src="@{/js/simpledateformat.js}"></script>
<script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<!--Calendar-->
<script src="../../js/moment.js" th:src="@{/js/moment.js}"></script>
<script src="../../js/bootstrap-datetimepicker.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script src="../../js/bootstrap-datetimepicker.ru.js" th:src="@{/js/bootstrap-datetimepicker.ru.js}"></script>


<script src="../../js/chart/highcharts.js" th:src="@{/js/chart/highcharts.js}"></script>
<script src="../../js/chart/modules/exporting.js" th:src="@{/js/chart/modules/exporting.js}"></script>
<script src="../../js/chart/local_rus.js" th:src="@{/js/chart/local_rus.js}"></script>

<!-- Page Specific Plugins -->
<script src="../../js/tablesorter/jquery.tablesorter.js" th:src="@{/js/tablesorter/jquery.tablesorter.js}"></script>
<script src="../../js/tablesorter/tables.js" th:src="@{/js/tablesorter/tables.js}"></script>

<!--Dialogs-->
<script src="../../js/dialog/bootbox.js" th:src="@{/js/dialog/bootbox.js}"></script>
<script src="../../js/dialog/error.js" th:src="@{/js/dialog/error.js}"></script>

<!--Validation form-->
<script src="../../js/validation/validator.min.js" th:src="@{/js/validation/validator.min.js}"></script>


<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        $('#temperDataTime1').datetimepicker({
            language: 'ru'
        });
        $('#temperDataTime2').datetimepicker({
            language: 'ru'
        });
        $("#temperDataTime1").on("dp.change", function (e) {
            $('#temperDataTime2').data("DateTimePicker").setMinDate(e.date);
        });
        $("#temperDataTime2").on("dp.change", function (e) {
            $('#temperDataTime1').data("DateTimePicker").setMaxDate(e.date);
        });
    });
    /*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*/
    var defaultChart = {
        chart: {
            zoomType: 'xy'

        },
        title: {
            text: 'Загальний графік'
        },
        subtitle: {
            text: 'Статистичні данні за локомотивами та вузлами'
        },
        xAxis: {
            startOnTick: true,
            type: 'datetime',
            dateTimeLabelFormats: {
                second: '%Y-%m-%d<br/>%H:%M:%S',
                minute: '%Y-%m-%d<br/>%H:%M',
                hour: '%Y-%m-%d<br/>%H:%M',
                day: '%Y<br/>%m-%d',
                week: '%Y<br/>%m-%d',
                month: '%Y-%m',
                year: '%Y'
            }
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: 'Дата: {point.x:%Y-%m-%d %H:%M:%S} <br/> Значення: {point.y:.2f}'
        }
    }


    $(document).ready(function () {

        $('.testChart').each(function () {
            $(this).highcharts(defaultChart);
        })

        $('#formDate').submit(function (e) {
            e.preventDefault();

            //clear chart
            var chart = $('.testChart').highcharts(defaultChart);
            //clear table

            $("#dataTable").find("tr:gt(0)").remove();
            //update sort table
            //$("#dataTable").tablesorter();
            $("#dataTable").trigger("update");

            //Create train checked array
            var checkedTrains = new Array();
            $("input[name='train']:checked:enabled").each(function () {
                checkedTrains.push({
                    name: $(this).attr('value'),
                    desc: $(this).attr('data')
                });
            });

            for (var i = 0; i < checkedTrains.length; i++) {
                printTrain(checkedTrains[i].name, checkedTrains[i].desc)
            }


            function printTrain(trainName, trainDescr) {
                $.ajax({
                    type: 'GET',
                    url: $("#formDate").attr("action"),
                    data: 'sdate=' + $("#inputDate1").val() + '&edate=' + $("#inputDate2").val() + "&id=" + trainName,
                    success: function (data) {
                        //if error
                        if (data.status == "error") {
                            showErrorDialog(data.message, JSON.stringify(data));
                            return;
                        }
                        //if result ok

                        //Create sensor checked array
                        var checkedSensors = new Array();
                        $("input[name='sensor']:checked:enabled").each(function () {
                            checkedSensors.push({
                                name: $(this).attr('data'),
                                desc: $(this).attr('value'),
                                unit: $(this).attr('unit')
                            });
                        });

                        //loop checked sensors
                        for (var i = 0; i < checkedSensors.length; i++) {
                            addSeries(checkedSensors[i].name, checkedSensors[i].desc, checkedSensors[i].unit, trainName);
                        }

                        //addRow loop
                        for (var i = 0; i < data.length; i++) {
                            for (var j = 0; j < checkedSensors.length; j++) {
                                addRow(trainName,
                                        new SimpleDateFormat("yyyy.MM.dd HH:mm:ss").format(new Date(data[i].RECORD_TIME_LOCO_DATA)),
                                        checkedSensors[j].desc,
                                        data[i][checkedSensors[j].name],
                                        checkedSensors[j].unit);
                            }
                        }

                        //update sort table
                        $("#dataTable").trigger("update");

                        //add series
                        function addSeries(name, desc, unit, train) {

                            var seriesData = new Array();
                            for (var i = 0; i < data.length; i++) {
                                var obj = data[i];
                                seriesData.push(new Array(obj.RECORD_TIME_LOCO_DATA, obj[name]));
                            }
                            console.log(seriesData);

                            var chart = $('.testChart').highcharts();
                            chart.addAxis({ // Secondary yAxis
                                id: 'sensor-axis',
                                title: {
                                    text: "<b>" + train + "</b> " + desc + " (" + unit + ")"
                                },
                                lineWidth: 2,
                                opposite: false
                            });
                            chart.addSeries({
                                name: "<b>" + train + "</b> " + desc + " (" + unit + ")",
                                type: 'spline',
                                yAxis: 'sensor-axis',
                                data: seriesData
                            });
                        }
                        //add row
                        function addRow(locoId, date, sensor, value, unit){
                            var n = $('#dataTable tr').length;
                            $('#dataTable > tbody:last').append('<tr><td>'+n+'</td><td>'+locoId+'</td><td>'+date+'</td><td>'+sensor+'</td><td>'+value+'</td><td>'+unit+'</td></tr>');
                        }

                    },
                    error: function (xhr, status, error) {
                        var err = xhr.status + " " + xhr.statusText + " " + xhr.responseText;
                        showErrorDialog(err);
                    }
                });
            }
        })

    });

    /*]]>*/
</script>


</head>

<body>

<div id="wrapper">

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" th:href="@{index.htm}">Locomotive Statistics Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="index.html" th:href="@{index.htm}"><i class="fa fa-desktop"></i> Головна панель </a></li>
            <li class="active"><a href="dashboard.html" th:href="@{dashboard.htm}"><i class="fa fa-dashboard"></i>
                Статистика </a></li>
            <li><a href="trains.html" th:href="@{trains.htm}"><i class="fa fa-bullhorn"></i> Керування локомотивами </a>
            </li>
            <li><a href="downloadData.html" th:href="@{downloadData.htm}"><i class="fa fa-download"></i> Завантаження
                даних </a></li>
            <li><a href="dataBaseInfo.html" th:href="@{dataBaseInfo.htm}"><i class="fa fa-hdd-o"></i> Інформація про
                базу</a></li>
            <li><a href="users.html" th:href="@{users.htm}"><i class="fa fa-users"></i> Користувачі </a></li>
            <li><a href="about.html" th:href="@{about.htm}"><i class="fa fa-info"></i> Про програму </a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Василь Пупкін
                    <b
                            class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="userSettings.html" th:href="@{userSettings.htm}"><i class="fa fa-gear"></i>
                        Налаштування </a></li>
                    <li class="divider"></li>
                    <li><a href="login.html" th:href="@{logout.htm}"><i class="fa fa-power-off"></i> Вихід </a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">

<div class="row">
    <div class="col-lg-12">
        <h1>Статистика
            <small>Перегляд статистичних даних</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="index.htm"><i class="fa fa-desktop"></i> Головна панель</a></li>
            <li class="active"><i class="fa fa-dashboard"></i> Статистика</li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-center">
            <strong>Вибір датчиків</strong>
        </div>
    </div>
</div>
<!-- /.row -->

<!--Панель датчиков-->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 200px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Основна група</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div style="overflow-y: auto; height: 130px">
                        <div class="checkbox" th:each="item : ${osnov}">
                            <label>
                                <input value="TEST_VALUE" th:value="${item.description}" name="sensor" type="checkbox"
                                       th:text="${item.description}" th:data="${item.name}"
                                       th:attr="unit=${item.unitOfMeasure}" data="TEST_DATA" unit="C">
                                Напряжение 1
                                </input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 200px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Букси</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div style="overflow-y: auto; height: 130px">
                        <div class="checkbox" th:each="item : ${buks}">
                            <label>
                                <input value="TEST_VALUE" th:value="${item.description}" name="sensor" type="checkbox"
                                       th:text="${item.description}" th:data="${item.name}"
                                       th:attr="unit=${item.unitOfMeasure}" data="TEST_DATA" unit="C">
                                Напряжение 1
                                </input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 200px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Тягові двигуни</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div style="overflow-y: auto; height: 130px">
                        <div class="checkbox" th:each="item : ${tdvig}">
                            <label>
                                <input value="TEST_VALUE" th:value="${item.description}" name="sensor" type="checkbox"
                                       th:text="${item.description}" th:data="${item.name}"
                                       th:attr="unit=${item.unitOfMeasure}" data="TEST_DATA" unit="C">
                                Напряжение 1
                                </input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 200px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-dashboard"></i> Пуско-гальмівні резистори</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="checkbox" th:each="item : ${ptres}">
                        <label>
                            <input value="TEST_VALUE" th:value="${item.description}" name="sensor" type="checkbox"
                                   th:text="${item.description}" th:data="${item.name}"
                                   th:attr="unit=${item.unitOfMeasure}" data="TEST_DATA" unit="C">
                            Напряжение 1
                            </input>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-center">
            <strong>Вибір локомотивів та періоду</strong>
        </div>
    </div>
</div>
<!-- /.row -->

<!--Панель локомотивов и периода-->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 250px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bullhorn"></i> Локомотиви</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div style="overflow-y: auto; height: 200px">
                        <div class="checkbox" th:each="item : ${locomotives}">
                            <label>
                                <input name="train" type="checkbox" data="test" th:data="${item.titleLoco}" value=""
                                       th:text="${item.idLoco} + ' ' + ${item.titleLoco}" th:value="${item.idLoco}">
                                Напряжение 1
                                </input>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 250px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-calendar"></i> Період </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <form data-toggle="validator" role="form" id="formDate" action="/statistic/locoStat.json"
                              th:action="@{/statistic/locoStat.json}">
                            <div class='col-lg-12'>
                                <div class="form-group">
                                    <label for="inputDate1"> Від: </label>

                                    <div class='input-group date datetimepicker1' id='temperDataTime1'>
                                        <input id="inputDate1" disabled="true" pattern="\d{2}.\d{2}.\d{4} \d{2}:\d{2}"
                                               required="true" type='text' class="form-control"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-12'>
                                <div class="form-group">
                                    <label for="inputDate2"> До: </label>

                                    <div class='input-group date datetimepicker2' id='temperDataTime2'>
                                        <input id="inputDate2" disabled="true" pattern="\d{2}.\d{2}.\d{4} \d{2}:\d{2}"
                                               required="true" type='text' class="form-control"/>
                                           <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button id="updateChart" type="submit" class="btn btn-primary center-block" onclick="">
                                    Оновити
                                    графік
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!--График-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Загальний графік </h3>
            </div>
            <div class="panel-body">
                <div class="testChart" style="max-width: 98%"></div>
            </div>
        </div>
    </div>
</div>

<!--Таблица-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-table"></i> Детальна інформація</h3>
            </div>
            <div class="panel-body" style="overflow-y: auto; overflow-x: auto; max-height: 500px">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                        <tr>
                            <th class="header headerSortDown"># <i class="fa fa-sort"></i></th>
                            <th class="header">Локомотив <i class="fa fa-sort"></i></th>
                            <th class="header">Дата <i class="fa fa-sort"></i></th>
                            <th class="header">Датчик <i class="fa fa-sort"></i></th>
                            <th class="header">Значення <i class="fa fa-sort"></i></th>
                            <th class="header">Од. Вим. <i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
</html>
