<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Locomotive Statistics Manager</title>

<!-- Bootstrap core CSS -->
<link href="../../css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="../../css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
<!-- Page Specific CSS -->
<!--Calendar-->
<link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet">

<!-- JavaScript -->
<!--<script type="text/javascript" src="../../js/jquery/1.8.2/jquery.min.js"></script>-->
<script src="../../js/jquery/1.10.2/jquery-1.10.2.js"></script>
<script src="../../js/bootstrap.js"></script>

<!--Calendar-->
<script src="../../js/moment.js"></script>
<script src="../../js/bootstrap-datetimepicker.js"></script>
<script src="../../js/bootstrap-datetimepicker.ru.js"></script>


<script src="../../js/chart/highcharts.js"></script>
<script src="../../js/chart/modules/exporting.js"></script>
<script src="../../js/chart/local_rus.js"></script>

<!-- Page Specific Plugins -->
<script src="../../js/tablesorter/jquery.tablesorter.js"></script>
<script src="../../js/tablesorter/tables.js"></script>

<!--Dialogs-->
<script src="../../js/dialog/bootbox.js"></script>
<script src="../../js/dialog/error.js"></script>

<!--Validation form-->
<script src="../../js/validation/validator.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('#temperDataTime1').datetimepicker({
            language: 'ru'
        });
        $('#temperDataTime2').datetimepicker({
            language: 'ru'
        });
        $("#temperDataTime1").on("dp.change", function (e) {
            $('#temperDataTime2').data("DateTimePicker").setMinDate(e.date);
        });
        $("#temperDataTime2").on("dp.change", function (e) {
            $('#temperDataTime1').data("DateTimePicker").setMaxDate(e.date);
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('.testChart').each(function () {
            $(this).highcharts({
                chart: {
                    type: 'spline',
                    zoomType: 'xy'

                },
                title: {
                    text: 'Snow depth at Vikjafjellet, Norway'
                },
                subtitle: {
                    text: 'Irregular time data in Highcharts JS'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Snow depth (m)'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
                },

                series: [
                    {
                        type: 'area',
                        name: 'Winter 2007-2008',
                        // Define the data points. All series have a dummy year
                        // of 1970/71 in order to be compared on the same x axis. Note
                        // that in JavaScript, months start at 0 for January, 1 for February etc.
                        data: [
                            [Date.UTC(1970, 9, 27), 0   ],
                            [Date.UTC(1970, 10, 10), 0.6 ],
                            [Date.UTC(1970, 10, 18), 0.7 ],
                            [Date.UTC(1970, 11, 2), 0.8 ],
                            [Date.UTC(1970, 11, 9), 0.6 ],
                            [Date.UTC(1970, 11, 16), 0.6 ],
                            [Date.UTC(1970, 11, 28), 0.67],
                            [Date.UTC(1971, 0, 1), 0.81],
                            [Date.UTC(1971, 0, 8), 0.78],
                            [Date.UTC(1971, 0, 12), 0.98],
                            [Date.UTC(1971, 0, 27), 1.84],
                            [Date.UTC(1971, 1, 10), 1.80],
                            [Date.UTC(1971, 1, 18), 1.80],
                            [Date.UTC(1971, 1, 24), 1.92],
                            [Date.UTC(1971, 2, 4), 2.49],
                            [Date.UTC(1971, 2, 11), 2.79],
                            [Date.UTC(1971, 2, 15), 2.73],
                            [Date.UTC(1971, 2, 25), 2.61],
                            [Date.UTC(1971, 3, 2), 2.76],
                            [Date.UTC(1971, 3, 6), 2.82],
                            [Date.UTC(1971, 3, 13), 2.8 ],
                            [Date.UTC(1971, 4, 3), 2.1 ],
                            [Date.UTC(1971, 4, 26), 1.1 ],
                            [Date.UTC(1971, 5, 9), 0.25],
                            [Date.UTC(1971, 5, 12), 0   ]
                        ]
                    },
                    {
                        type: 'area',
                        name: 'Winter 2008-2009',
                        data: [
                            [Date.UTC(1970, 9, 18), 0   ],
                            [Date.UTC(1970, 9, 26), 0.2 ],
                            [Date.UTC(1970, 11, 1), 0.47],
                            [Date.UTC(1970, 11, 11), 0.55],
                            [Date.UTC(1970, 11, 25), 1.38],
                            [Date.UTC(1971, 0, 8), 1.38],
                            [Date.UTC(1971, 0, 15), 1.38],
                            [Date.UTC(1971, 1, 1), 1.38],
                            [Date.UTC(1971, 1, 8), 1.48],
                            [Date.UTC(1971, 1, 21), 1.5 ],
                            [Date.UTC(1971, 2, 12), 1.89],
                            [Date.UTC(1971, 2, 25), 2.0 ],
                            [Date.UTC(1971, 3, 4), 1.94],
                            [Date.UTC(1971, 3, 9), 1.91],
                            [Date.UTC(1971, 3, 13), 1.75],
                            [Date.UTC(1971, 3, 19), 1.6 ],
                            [Date.UTC(1971, 4, 25), 0.6 ],
                            [Date.UTC(1971, 4, 31), 0.35],
                            [Date.UTC(1971, 5, 7), 0   ]
                        ]
                    },
                    {
                        type: 'area',
                        name: 'Winter 2009-2010',
                        data: [
                            [Date.UTC(1970, 9, 9), 0   ],
                            [Date.UTC(1970, 9, 14), 0.15],
                            [Date.UTC(1970, 10, 28), 0.35],
                            [Date.UTC(1970, 11, 12), 0.46],
                            [Date.UTC(1971, 0, 1), 0.59],
                            [Date.UTC(1971, 0, 24), 0.58],
                            [Date.UTC(1971, 1, 1), 0.62],
                            [Date.UTC(1971, 1, 7), 0.65],
                            [Date.UTC(1971, 1, 23), 0.77],
                            [Date.UTC(1971, 2, 8), 0.77],
                            [Date.UTC(1971, 2, 14), 0.79],
                            [Date.UTC(1971, 2, 24), 0.86],
                            [Date.UTC(1971, 3, 4), 0.8 ],
                            [Date.UTC(1971, 3, 18), 0.94],
                            [Date.UTC(1971, 3, 24), 0.9 ],
                            [Date.UTC(1971, 4, 16), 0.39],
                            [Date.UTC(1971, 4, 21), 0   ]
                        ]
                    }
                ]
            });
        })
    });
</script>

<script type="text/javascript">
    function update() {
        $(function () {
            $('.testChart').highcharts({
                chart: {
                    type: 'spline',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Snow depth at Vikjafjellet, Norway'
                },
                subtitle: {
                    text: 'Irregular time data in Highcharts JS'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Snow depth (m)'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
                },

                series: [
                    {
                        type: 'area',
                        name: 'Winter 2007-2008',
                        // Define the data points. All series have a dummy year
                        // of 1970/71 in order to be compared on the same x axis. Note
                        // that in JavaScript, months start at 0 for January, 1 for February etc.
                        data: [
                            [Date.UTC(1970, 9, 27, 12, 5), 0   ],
                            [Date.UTC(1970, 9, 27, 12, 10), 50   ],
                            [Date.UTC(1970, 9, 27, 12, 30), 30   ]
                        ]
                    },
                    {
                        name: 'Winter 2008-2009',
                        data: [
                            [Date.UTC(1970, 9, 27, 12, 15), 15   ],
                            [Date.UTC(1970, 9, 27, 12, 16), 55   ],
                            [Date.UTC(1970, 9, 27, 12, 30), 66   ]
                        ]
                    },
                    {
                        name: 'Winter 2009-2010',
                        data: [
                            [Date.UTC(1970, 9, 27, 12, 32), 30   ],
                            [Date.UTC(1970, 9, 27, 12, 44), 15   ],
                            [Date.UTC(1970, 9, 27, 12, 55), 20   ]
                        ]
                    },
                    {
                        name: 'Winter2 2009-2010',
                        data: [
                            [Date.UTC(1970, 9, 27, 12, 32), 12   ],
                            [Date.UTC(1970, 9, 27, 12, 44), 30   ],
                            [Date.UTC(1970, 9, 27, 12, 55), 54   ]
                        ]
                    }
                ]
            });
        });
    }
</script>

</head>

<body>

<div id="wrapper">

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Locomotive Statistics Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Головна панель </a></li>
            <li class="active"><a href="dashboard.html"><i class="fa fa-bullhorn"></i> Статистика </a></li>
            <li><a href="trains.html"><i class="fa fa-edit"></i> Керування локомотивами </a></li>
            <li><a href="#"><i class="fa fa-download"></i> Завантаження даних </a></li>
            <li><a href="#"><i class="fa fa-hdd-o"></i> Інформація про базу</a></li>
            <li><a href="#"><i class="fa fa-hdd-o"></i> Користувачі </a></li>
            <li><a href="#"><i class="fa fa-info"></i> Про програму </a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Василь Пупкін <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-gear"></i> Налаштування </a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Вихід </a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">

<div class="row">
    <div class="col-lg-12">
        <h1>Статистика
            <small>Перегляд статистичних даних</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Головна панель</a></li>
            <li class="active"><i class="fa fa-bullhorn"></i> Статистика</li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-center">
            <strong>Вибір датчиків</strong>
        </div>
    </div>
</div>
<!-- /.row -->

<!--Панель датчиков-->
<div class="row">
<div class="col-lg-6">
    <div class="panel panel-primary" style="height: 200px">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-dashboard"></i> Датчики напруги</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div style="overflow-y: auto; height: 130px">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-primary" style="height: 200px">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-dashboard"></i> Датчики напряжения</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div style="overflow-y: auto; height: 130px">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-primary" style="height: 200px">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-dashboard"></i> Датчики напряжения</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div style="overflow-y: auto; height: 130px">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-primary" style="height: 200px">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-dashboard"></i> Датчики напряжения</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <div style="overflow-y: auto; height: 130px">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            Напряжение 1
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-center">
            <strong>Вибір локомотивів та періоду</strong>
        </div>
    </div>
</div>
<!-- /.row -->

<!--Панель локомотивов и периода-->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 250px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bullhorn"></i> Локомотивы</h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <div style="overflow-y: auto; height: 200px">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Локомотив 1
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary" style="height: 250px">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-calendar"></i> Період </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="col-lg-12">
                        <form data-toggle="validator" role="form" id="formDate">
                            <div class='col-lg-12'>
                                <div class="form-group">
                                    <label for="inputDate1"> Від: </label>

                                    <div class='input-group date datetimepicker1' id='temperDataTime1'>
                                        <input id="inputDate1" disabled pattern="\d{2}.\d{2}.\d{4} \d{2}:\d{2}" required type='text' class="form-control"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-12'>
                                <div class="form-group">
                                    <label for="inputDate2"> До: </label>

                                    <div class='input-group date datetimepicker2' id='temperDataTime2'>
                                        <input id="inputDate2" disabled pattern="\d{2}.\d{2}.\d{4} \d{2}:\d{2}" required type='text' class="form-control"/>
                                           <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                     </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary center-block" onclick="update()">Оновити графік</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!--График-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Загальний графік </h3>
            </div>
            <div class="panel-body">
                <div class="testChart" style="max-width: 98%"></div>
            </div>
        </div>
    </div>
</div>

<!--Таблица-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-table"></i> Детальна інформація</h3>
            </div>
            <div class="panel-body" style="overflow-y: auto; overflow-x: auto; max-height: 500px">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                        <tr>
                            <th class="header headerSortDown">Order # <i class="fa fa-sort"></i></th>
                            <th class="header">Order Date <i class="fa fa-sort"></i></th>
                            <th class="header">Order Time <i class="fa fa-sort"></i></th>
                            <th class="header">Amount (USD) <i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr>
                            <td>3319</td>
                            <td>10/21/2013</td>
                            <td>2:13 PM</td>
                            <td>$943.45</td>
                        </tr>
                        <tr>
                            <td>3320</td>
                            <td>10/21/2013</td>
                            <td>2:15 PM</td>
                            <td>$5663.54</td>
                        </tr>
                        <tr>
                            <td>3321</td>
                            <td>10/21/2013</td>
                            <td>2:23 PM</td>
                            <td>$245.12</td>
                        </tr>
                        <tr>
                            <td>3322</td>
                            <td>10/21/2013</td>
                            <td>2:49 PM</td>
                            <td>$8345.23</td>
                        </tr>
                        <tr>
                            <td>3323</td>
                            <td>10/21/2013</td>
                            <td>3:00 PM</td>
                            <td>$23.71</td>
                        </tr>
                        <tr>
                            <td>3324</td>
                            <td>10/21/2013</td>
                            <td>3:03 PM</td>
                            <td>$724.17</td>
                        </tr>
                        <tr>
                            <td>3325</td>
                            <td>10/21/2013</td>
                            <td>3:20 PM</td>
                            <td>$234.34</td>
                        </tr>
                        <tr>
                            <td>3326</td>
                            <td>10/21/2013</td>
                            <td>3:29 PM</td>
                            <td>$321.33</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>
</html>
